<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="testCase.CatalogueListPageTestClass" />
			<class name="testCase.CreateCatagoryLooseFurTest" />
			<class name="testCase.Cat_subcat_CreationAppliancesTest" />
			<class name="testCase.TestSubCategoryBrowserFurniture" />
			<class name="testCase.TestSubCategoryBrowserAppliances" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
